<h1>Listing test1s</h1>

<table>
  <tr>
    <th>Name</th>
  </tr>

<% @test1s.each do |test1| %>
  <tr>
    <td><%=h test1.name %></td>
    <td><%= link_to 'Show', test1 %></td>
    <td><%= link_to 'Edit', edit_test1_path(test1) %></td>
    <td><%= link_to 'Destroy', test1, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New test1', new_test1_path %>