!!! Strict
%html{ :lang => "en", :xmlns => "http://www.w3.org/1999/xhtml" }
  %head
    %meta{ :content => "text/html; charset=utf-8", "http-equiv" => "Content-Type" }
    %title
      = t("site.title")
    = stylesheet_link_tag "formtastic", "formtastic_changes", "web_app_theme", "web_app_theme_override", "themes/drastic-dark/style", "modalbox", :cache => true
    = javascript_include_tag :defaults, "modalbox", :cache => true
    = include_wice_grid_assets

  %body
    #container
      #header
        %h1
          %a{ :href => "/" }
            = t("site.title")
        #user-navigation
          %ul.wat-cf
            %li
              %a{ :href => "#" }
                = t("web-app-theme.profile")
            %li
              %a{ :href => "#" }
                = t("web-app-theme.settings")
            %li
              %a.logout{ :href => "/logout" }
                = t("web-app-theme.logout")
        #main-navigation
          - tabs_tag(:builder => MenuTabBuilder) do |tab|
            = tab.papers 'Бумага', admin_paper_prices_path
          -
      #wrapper.wat-cf
        .flash
          - flash.each do |type, message|
            %div{ :class => "message #{type}" }
              %p
                = message
        #main
          = yield
          #footer
            .block
              %p
                = mail_to t("site.author.email"), "Copyright &copy; #{Time.now.year} #{t("site.author.nickname")}"
        #sidebar
          = yield :sidebar
