<h1>Editing printer_type</h1>

<% form_for([:admin, @printer_type]) do |f| %>
  <%= f.error_messages %>
  
  <p>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', [:admin, @printer_type] %> |
<%= link_to 'Back', admin_printer_types_path %>
