.block
  .secondary-navigation
    %ul.wat-cf
      %li.first.active
        = link_to t("web-app-theme.list"), admin_printer_types_path
      %li
        = link_to t("web-app-theme.new"), new_admin_printer_type_path
  .content
    %h2.title
      = t 'site.printer_type.nominative.many'
    .inner
      %table.table
        %tr
          %th.first
            ID
          %th
            = t("activerecord.labels.name")
          %th
            = t("web-app-theme.created_at")
          %th.last
            \&nbsp;
        - @printer_types.each do |printer_type|
          %tr{ :class => cycle("odd", "even") }
            %td
              = printer_type.id
            %td
              = link_to printer_type.name, admin_printer_type_path(printer_type)
            %td
              = printer_type.created_at
            %td.last
              = link_to t("web-app-theme.show"), admin_printer_type_path(printer_type)
              |
              = link_to t("web-app-theme.edit"), edit_admin_printer_type_path(printer_type)
              |
              = link_to t("web-app-theme.delete"), admin_printer_type_path(printer_type), :method => :delete, :confirm => t("web-app-theme.confirm")
        -
      .actions-bar.wat-cf
        .actions
        = will_paginate @printer_types
- content_for :sidebar, render(:partial => 'sidebar')
