%h3 Список печатных устройств

%table
  %tr
    %td
  - @printer_types.each do |printer_type|
    %tr
      %td= h printer_type.name
      %td= link_to 'Просмотр', [:admin, printer_type]
      %td= link_to 'Редактирование', edit_admin_printer_type_path(printer_type)
      %td= link_to 'Удаление', [:admin, printer_type], :confirm => 'Вы уверены?', :method => :delete
  -

%p= link_to 'Создание', new_admin_printer_type_path
