<h1>Новый тип печатного устройства</h1>

<% form_for([:admin, @printer_type]) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </p>

  <p>
    <%= f.submit 'Создать' %>
  </p>
<% end %>

<%= link_to 'К списку', admin_printer_types_path %>
