.block
  .secondary-navigation
    %ul.wat-cf
      %li.first.active
        = link_to t("web-app-theme.list"), admin_paper_formats_path
      %li
        = link_to t("web-app-theme.new"), new_admin_paper_format_path
  .content
    %h2.title
      = t 'site.paper_format.nominative.many'
    .inner
      %table.table
        %tr
          %th.first
            ID
          %th
            = t("activerecord.labels.width")
          %th
            = t("activerecord.labels.height")
          %th
            = t("web-app-theme.created_at")
          %th.last
            \&nbsp;
        - @paper_formats.each do |paper_format|
          %tr{ :class => cycle("odd", "even") }
            %td
              = paper_format.id
            %td
              = link_to paper_format.width, admin_paper_format_path(paper_format)
            %td
              = link_to paper_format.height, admin_paper_format_path(paper_format)
            %td
              = Russian::strftime paper_format.created_at
            %td.last
              = link_to t("web-app-theme.show"), admin_paper_format_path(paper_format)
              |
              = link_to t("web-app-theme.edit"), edit_admin_paper_format_path(paper_format)
              |
              = link_to t("web-app-theme.delete"), admin_paper_format_path(paper_format), :method => :delete, :confirm => t("web-app-theme.confirm")
        -
      .actions-bar.wat-cf
        .actions
        = will_paginate @paper_formats
- content_for :sidebar, render(:partial => 'sidebar')
