.block
  .secondary-navigation
    %ul.wat-cf
      %li.first
        = link_to t("web-app-theme.list"), admin_paper_formats_path
      %li
        = link_to t("web-app-theme.new"), new_admin_paper_format_path
      %li.active
        = link_to t("web-app-theme.show"), admin_paper_format_path
  .content
    .inner
      %p
        %b
          = t("activerecord.attributes.admin_paper_format.width", :default => t("activerecord.labels.width"))
          \:
        = @paper_format.width
      %p
        %b
          = t("activerecord.attributes.admin_paper_format.height", :default => t("activerecord.labels.height"))
          \:
        = @paper_format.height
      .wat-cf
        = link_to "#{image_tag("web-app-theme/application_edit.png", :alt => "#{t("web-app-theme.edit", :default=> "Edit")}")} #{t("web-app-theme.edit", :default=> "Edit")}", edit_admin_paper_format_path(@paper_format), :class => "button"
        = link_to "#{image_tag("web-app-theme/cross.png", :alt => "#{t("web-app-theme.delete", :default=> "Delete")}")} #{t("web-app-theme.delete")}", admin_paper_format_path(@paper_format), :method => "delete", :class => "button", :confirm => t("web-app-theme.confirm")
- content_for :sidebar, render(:partial => 'sidebar')
