.block
  .secondary-navigation
    %ul.wat-cf
      %li.first
        = link_to "#{t("web-app-theme.list", :default => "List")}", albums_path
      %li
        = link_to "#{t("web-app-theme.new", :default => "New")}", new_album_path
      %li.active
        = link_to "#{t("web-app-theme.show", :default => "Show")}", album_path
  .content
    .inner
      %p
        %b
          = t("activerecord.attributes.album.name", :default => t("activerecord.labels.name", :default => "Name"))
          \:
        = @album.name
      %p
        %b
          = t("activerecord.attributes.album.artist", :default => t("activerecord.labels.artist", :default => "Artist"))
          \:
        = @album.artist
      %p
        %b
          = t("activerecord.attributes.album.date", :default => t("activerecord.labels.date", :default => "Date"))
          \:
        = @album.date
      .wat-cf
        = link_to "#{image_tag("web-app-theme/application_edit.png", :alt => "#{t("web-app-theme.edit", :default=> "Edit")}")} #{t("web-app-theme.edit", :default=> "Edit")}", edit_album_path(@album), :class => "button"
        = link_to "#{image_tag("web-app-theme/cross.png", :alt => "#{t("web-app-theme.delete", :default=> "Delete")}")} #{t("web-app-theme.delete", :default => "Delete")}", album_path(@album), :method => "delete", :class => "button", :confirm => "#{t("web-app-theme.confirm", :default => "Are you sure?")}"
- content_for :sidebar, render(:partial => 'sidebar')
