.block
  .secondary-navigation
    %ul.wat-cf
      %li.first.active
        = link_to t("web-app-theme.list"), admin_paper_types_path
      %li
        = link_to t("web-app-theme.new"), new_admin_paper_type_path
  .content
    %h2.title
      = t 'site.paper_type.nominative.many'
    .inner
      %table.table
        %tr
          %th.first
            ID
          %th
            = t("activerecord.labels.name")
          %th
            = t("web-app-theme.created_at")
          %th.last
            \&nbsp;
        - @paper_types.each do |paper_type|
          %tr{ :class => cycle("odd", "even") }
            %td
              = paper_type.id
            %td
              = link_to paper_type.name, admin_paper_type_path(paper_type)
            %td
              = paper_type.created_at
            %td.last
              = link_to t("web-app-theme.show"), admin_paper_type_path(paper_type)
              |
              = link_to t("web-app-theme.edit"), edit_admin_paper_type_path(paper_type)
              |
              = link_to t("web-app-theme.delete"), admin_paper_type_path(paper_type), :method => :delete, :confirm => t("web-app-theme.confirm")
          -
      .actions-bar.wat-cf
        .actions
        = will_paginate @paper_types
- content_for :sidebar, render(:partial => 'sidebar')
