.block
  .secondary-navigation
    %ul.wat-cf
      %li.first.active
        = link_to "#{t("web-app-theme.list", :default => "List")}", admin_paper_prices_path
      %li
        = link_to "#{t("web-app-theme.new", :default => "New")}", new_admin_paper_price_path
  .content
    %h2.title
      = t("web-app-theme.all", :default => "All")
      PaperPrices
    .inner
      %table.table
        %tr
          %th.first
            ID
          %th
            = t("activerecord.attributes.admin_paper_price.price", :default => t("activerecord.labels.price", :default => "Price"))
          %th
            = t("web-app-theme.created_at", :default => "Created at")
          %th.last
            \&nbsp;
        - @paper_prices.each do |paper_price|
          %tr{ :class => cycle("odd", "even") }
            %td
              = paper_price.id
            %td
              = link_to paper_price.price, admin_paper_price_path(paper_price)
            %td
              = paper_price.created_at
            %td.last
              = link_to "#{t("web-app-theme.show", :default => "Show")}", admin_paper_price_path(paper_price)
              |
              = link_to "#{t("web-app-theme.edit", :default => "Edit")}", edit_admin_paper_price_path(paper_price)
              |
              = link_to "#{t("web-app-theme.delete", :default => "Delete")}", admin_paper_price_path(paper_price), :method => :delete, :confirm => "#{t("web-app-theme.confirm", :default => "Are you sure?")}"
        -
      .actions-bar.wat-cf
        .actions
- content_for :sidebar, render(:partial => 'sidebar')
