.block
  .secondary-navigation
    %ul.wat-cf
      %li.first.active
        = link_to "#{t("web-app-theme.list", :default => "List")}", admin_paper_prices_path
      %li
        = link_to "#{t("web-app-theme.new", :default => "New")}", new_admin_paper_price_path
  .content
    %h2.title
      = t("web-app-theme.all", :default => "All")
      PaperPrices
    .inner

      = grid(@tasks_grid) do |g|
        - g.column :column_name => 'ID', :attribute_name => 'id' do |task|
          - task.id
        - g.column :column_name => 'Price', :attribute_name => 'price' do |task|
          - task.price
        - g.column  :column_name => 'Paper Width', :attribute_name => 'width', :model_class => 'PaperFormat' do |task|
          - task.paper_format.width
        - g.column :column_name => 'Paper Height', :attribute_name => 'height', :model_class => 'PaperFormat' do |task|
          - task.paper_format.height
        - g.column :column_name => 'Printer Type', :attribute_name => 'printer_type_id', :custom_filter => PrinterType.to_dropdown  do |task| 
          - task.printer_type.name 
        - g.column :column_name => 'Paper Type', :attribute_name => 'paper_type_id', :custom_filter => PaperType.to_dropdown do |task| 
          - task.paper_type.name
        - g.column   do |task| 
          - link_to('Edit', edit_admin_task_path(task))


      %table.table
        %tr
          %th.first
            ID
          %th
            = t("activerecord.attributes.admin_paper_price.price", :default => t("activerecord.labels.price", :default => "Price"))
          %th
            = t("activerecord.attributes.admin_paper_price.price", :default => t("activerecord.labels.price", :default => "Price"))
          %th
            = t("activerecord.attributes.admin_paper_price.price", :default => t("activerecord.labels.price", :default => "Price"))
          %th
            = t("activerecord.attributes.admin_paper_price.price", :default => t("activerecord.labels.price", :default => "Price"))
          %th
            = t("web-app-theme.created_at", :default => "Created at")
          %th.last
            \&nbsp;
        - @paper_prices.each do |paper_price|
          %tr{ :class => cycle("odd", "even") }
            %td
              = paper_price.id
            %td
              = link_to (number_to_currency(paper_price.price), admin_paper_price_path(paper_price))
            %td
              = link_to (paper_price.paper_format, admin_paper_price_path(paper_price))
            %td
              = link_to (number_to_currency(paper_price.price), admin_paper_price_path(paper_price))
            %td
              = link_to (number_to_currency(paper_price.price), admin_paper_price_path(paper_price))
            %td
              = paper_price.created_at
            %td.last
              = link_to "#{t("web-app-theme.show", :default => "Show")}", admin_paper_price_path(paper_price)
              |
              = link_to "#{t("web-app-theme.edit", :default => "Edit")}", edit_admin_paper_price_path(paper_price)
              |
              = link_to "#{t("web-app-theme.delete", :default => "Delete")}", admin_paper_price_path(paper_price), :method => :delete, :confirm => "#{t("web-app-theme.confirm", :default => "Are you sure?")}"
        -
      .actions-bar.wat-cf
        .actions
- content_for :sidebar, render(:partial => 'sidebar')
