.block
  .secondary-navigation
    %ul.wat-cf
      %li.first
        = link_to t("web-app-theme.list"), admin_paper_prices_path
      %li.active
        = link_to t("web-app-theme.new"), new_admin_paper_price_path
  .content
    %h2.title
      = t("web-app-theme.new")
      = t "site.paper_price.genitive.one"
    .inner
      - semantic_form_for @paper_price, :url => admin_paper_prices_path do |form|
        = form.inputs
        = form.buttons
      -

      - form_for :paper_price, :url => admin_paper_prices_path, :html => { :class => :form } do |f|
        = render :partial => "form", :locals => {:f => f}
      -
- content_for :sidebar, render(:partial => 'sidebar')
