.block
  .secondary-navigation
    %ul.wat-cf
      %li.first
        = link_to t("web-app-theme.list"), admin_paper_prices_path
      %li
        = link_to t("web-app-theme.new"), new_admin_paper_price_path
      %li.active
        = link_to t("web-app-theme.show"), admin_paper_price_path
  .content
    %h2.title     
      = t("web-app-theme.show")
      = t("site.paper_price.genitive.one")
    .inner
      %p
        %b
          = t("activerecord.labels.price")
          \:
        = @paper_price.price
      %p
        %b
          = t("activerecord.labels.paper_format_id")
          \:
        = @paper_price.paper_format_id
      %p
        %b
          = t("activerecord.labels.paper_type_id")
          \:
        = @paper_price.paper_type_id
      %p
        %b
          = t("activerecord.labels.printer_type_id")
          \:
        = @paper_price.printer_type_id
      .wat-cf
        = link_to "#{image_tag("web-app-theme/application_edit.png", :alt => "#{t("web-app-theme.edit")}")} #{t("web-app-theme.edit")}", edit_admin_paper_price_path(@paper_price), :class => "button"
        = link_to "#{image_tag("web-app-theme/cross.png", :alt => "#{t("web-app-theme.delete")}")} #{t("web-app-theme.delete")}", admin_paper_price_path(@paper_price), :method => "delete", :class => "button", :confirm => t("web-app-theme.confirm")
- content_for :sidebar, render(:partial => 'sidebar')
