<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
  <head>
    <title><%= h(yield(:title) || "Untitled") %></title>
    <%= stylesheet_link_tag 'application', 'application_changes' %>
    <%= yield(:head) %>
  </head>
  <body>
    <%= debug session %>
    <div id="container">
      <div id="user_nav">
        <% if !current_user || current_user.anonymous %>
          <%= link_to t("register"), register_path %>
          <%= link_to t("login"), login_path %>
       <% else %>
          <%= link_to t("profile"), edit_user_path(:current) %>
          |
          <%= link_to t("logout"), logout_path %>
          |
          <%= link_to t("delete_account"), user_path(:current), :method => :delete %>
        <% end %>
        <%= content_tag :div, current_user ? current_user.username : 'Никто' %>
     </div>
      <%- flash.each do |name, msg| -%>
        <%= content_tag :div, msg, :id => "flash_#{name}" %>
      <%- end -%>
      
      <%- if show_title? -%>
        <h1><%=h yield(:title) %></h1>
      <%- end -%>
     
      <%= yield %>
    </div>
  </body>
</html>
