<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>Test1s: <%= controller.action_name %></title>
  <%= stylesheet_link_tag 'scaffold' %>
</head>
<body>

<p style="color: green"><%= flash[:notice] %></p>

<% tabs_tag do |tab| %>
  <%= tab.simple_upload 'Простая закачка', :action => 'simple_upload' %>
  <%= tab.javascript_upload 'Javascript закачка', :action => 'javascript_upload' %>
  <%= tab.flash_upload 'Flash закачка', :action => 'flash_upload' %>
<% end %>

Текущая закладка <%= current_tab %>

<%= yield %>

</body>
</html>
